</main>
<footer>
    <div class="footer-container">
        <h2 class="business-name">Bites & Bubbly</h2>
        <div class="contact-section">
          <h3>Contact Us:</h3>
          <ul class="contact-info">
            <li><strong>Tel:</strong> 616-329-4501</li>
            <li><strong>Email:</strong> <a href="mailto:info@bitesnbubbly.com">info@bitesnbubbly.com</a></li>
          </ul>
          </div>
          <div class="hours-section">
          <h3>Opening Hours:</h3>
          <ul class="opening-hours">
              <li><strong>Sundays:</strong> 9am to 8pm</li>
              <li><strong>Mondays - Thursdays:</strong> 11am to 9pm</li>
              <li><strong>Fridays:</strong> 10am to 10pm</li>
              <li><strong>Saturdays:</strong> 9am to 10pm</li>
          </ul>
        </div>
        <div class="social-media">
          <a href="https://www.facebook.com/bitesnbubbly" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <img src="/Images/facebook.svg" alt="Facebook">
          </a>
          <a href="https://www.instagram.com/bitesnbubbly" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
            <img src="/Images/instagram.svg" alt="Instagram">
          </a>
          <a href="https://www.twitter.com/bitesnbubbly" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
            <img src="/Images/twitter.svg" alt="Twitter">
          </a>
        </div>
      </div>
</footer>
</body>
</html>