<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header id="header">
    <img src="/Images/Untitled.jpg" alt="A blend of tropical brunch foods and refreshing cocktails" style="width: 100%;">
</header>
  <nav>
    <a href="/about" <%- title === 'About Us' ? 'class="active"' : '' %>>About Us</a>
    <a href="/menu" <%- title === 'Menu' ? 'class="active"' : '' %>>Menu</a>
    <a href="/reservations/new" <%- title === 'Make a Reservation' ? 'class="active"' : '' %>>
      MAKE A RESERVATION
    </a>
    <a href="/reservations" <%- title === 'All Reservations' ? 'class="active"' : '' %>>
      ALL RESERVATIONS
    </a>
  </nav>
  <main>
 
