<%- include('../partials/header') %>
<h2>Brunch Foods</h2>
<ul>
    <li>
        <strong>Avocado Toast Deluxe</strong>
        <p>Creamy avocado spread on artisan sourdough, topped with poached eggs, radish slices, and a sprinkle of chili flakes.</p>
    </li>
    <li>
        <strong>Caribbean French Toast</strong>
        <p>Thick slices of brioche soaked in a cinnamon milk mixture, grilled to perfection, and served with a mango-pineapple compote.</p>
    </li>
   <li>
    <strong>Island-Style Eggs Benedict</strong>
    <p>Traditional eggs benedict with a twist, featuring jerk-seasoned Canadian bacon and a spicy hollandaise sauce, served on a toasted plantain.</p>
   </li>
   <li>
    <strong>Shakshuka</strong>
    <p>A flavorful Middle Eastern dish with poached eggs in a simmering tomato and pepper sauce, spiced with cumin and paprika, served with warm pita bread.</p>
   </li>
   <li> 
    <strong>Tropical Fruit Parfait</strong>
   <p>Layers of yogurt, granola, and an assortment of tropical fruits like kiwi, dragon fruit, mangoes, banana, and papaya, topped with a mixed berry compote.</p>
    </li>
   <li>
   <strong>Banana Bread Pancakes</strong>
   <p>Fluffy pancakes with mashed bananas and chopped walnuts, served with a cinnamon-spiced syrup.</p>
   </li>
   <li>
    <strong>Salmon Avocado Salad</strong>
    <p>Fresh mixed greens topped with grilled salmon, sliced avocado, cherry tomatoes, and a citrus vinaigrette.</p>
   </li>
   <li>
    <strong>Waffles with Spice Chantilly:</strong> 
    <p>Golden waffles topped with a dollop of spiced chantilly cream, a dash of cinnamon, and fresh berries.</p>
</li>
   <li>
    <strong>Ham Quiche:</strong>
     <p>A classic quiche filled with diced ham, melted cheese, and a tender, flaky crust.</p>
    </li>
   <li>
    <strong>Fruit Bowls:</strong> 
    <p>A vibrant mix of seasonal fruits, served in a chilled bowl for a refreshing start.</p>
</li>
   <li>
    <strong>Pizza Frittata:</strong> 
    <p>An Italian-inspired frittata with marinara, mozzarella, pepperoni, and fresh herbs.</p>
</li>
</ul>
<h2>Pastries</h2>
<ul>
  <li>
    <strong>Pain au Chocolat:</strong> 
    <p>Buttery croissant dough wrapped around dark chocolate, baked until golden.</p>
</li>
  <li>
    <strong>Croissants:</strong> 
    <p>Classic, flaky French pastries, light and airy with a buttery crust.</p>
</li>
  <li>
    <strong>Strawberry Pound Cake:</strong> 
    <p>Moist pound cake with fresh strawberries, perfect with your morning coffee.</p>
</li>
<li>
    <strong>Cinnamon Rolls:</strong> 
    <p>Soft, doughy rolls filled with a sweet cinnamon sugar mixture, topped with a rich, creamy glaze that melts in your mouth.</p>
</li>
  <li>
    <strong>Lemon Blueberry Cake:</strong> 
    <p>Bright and zesty lemon cake studded with juicy blueberries and topped with a light lemon glaze, offering a refreshing bite.</p>
</li>
  <li>
    <strong>Spice Cake:</strong> 
    <p>Warm and comforting, this cake is infused with a blend of spices like cinnamon, clove, and nutmeg, and topped with cream cheese frosting.</p>
</li>
  <li>
    <strong>Rock Cakes:</strong> 
    <p>Crunchy on the outside and soft inside, these traditional British treats are packed with dried fruits and a hint of spice.</p>
</li>
  <li>
    <strong>Morning Glory Muffins:</strong> 
    <p>Wholesome muffins filled with carrots, apples, coconut, and nuts, spiced with cinnamon for a hearty start to your day.</p>
</li>
  <li>
    <strong>Classic Cinnamon Coated Doughnuts:</strong> 
    <p>Soft, fluffy doughnuts generously coated in cinnamon sugar, offering a timeless and irresistible treat.</p>
</li>
<li>
    <strong>Guava Quesitos:</strong> 
    <p>Creamy, sweetened cream cheese and guava paste wrapped in puff pastry, then lightly dusted with powdered sugar for a delightful contrast.</p>
</li>
  <li>
    <strong>Butterscotch Sticky Buns:</strong> 
    <p>Warm, gooey buns dripping with rich butterscotch sauce and topped with toasted pecans for a crunchy finish.</p>
</li>
  <li>
    <strong>Hot Cross Buns:</strong> 
    <p>A traditional Easter treat, these spiced sweet buns are studded with currants or raisins and marked with a cross on top.</p>
</li>
  <li>
    <strong>Raspberry Swirl Sweet Rolls:</strong> 
    <p>Soft rolls with a sweet raspberry jam swirl throughout, topped with a sugary icing that complements the tartness of the berries.</p>
</li>
  <li>
    <strong>Blueberry Oat Muffins:</strong> 
    <p>Hearty oat muffins bursting with fresh blueberries, offering a healthy yet deliciously moist treat.</p>
</li>
</ul>


<h3>Breakfast Meats</h3>
<ul>
  <li>
    <strong>Smoked Bacon:</strong> 
    <p>Crispy, thick-cut bacon smoked to perfection, offering a rich and savory start to your day.</p>
</li>
  <li>
    <strong>Scrambled Eggs:</strong> 
    <p>Lightly whisked eggs, scrambled until just set, creamy and fluffy, seasoned with a pinch of salt and pepper.</p>
</li>
  <li>
    <strong>Smoked Sausages:</strong> 
    <p>Juicy sausages smoked over natural woods, delivering a deep, smoky flavor with every bite.</p>
</li>
<h4>Wings</h4>

  <li>
    <strong>Lemon Pepper Wings:</strong> 
    <p>Crispy wings dusted with a zesty lemon pepper seasoning for a tangy kick.</p>
</li>
  <li>
    <strong>Honey BBQ Wings:</strong> 
    <p>Slow-cooked wings glazed in a sweet and smoky honey BBQ sauce, sticky and delicious.</p>
</li>

</ul>

<h2>Drinks</h2>
<h3>Cocktails</h3>
<ul>
    <li> 
        <strong>Mimosa Flight</strong>
        <p>A selection of mimosas featuring classic orange, grapefruit, pineapple, strawberry, and mango juices.</p>
    </li>
    <li> 
        <strong>Caribbean Rum Punch</strong>
        <p>A sweet and fruity blend of dark rum, orange juice, pineapple juice, and grenadine, garnished with fresh fruit slices.</p>
    </li>
    <li>
        <strong>Bloody Mary with a Twist</strong>
        <p>The classic tomato juice cocktail spiced up with horseradish, Worcestershire sauce, and a splash of pickle juice, served with an antipasto skewer.</p>
        </li>
    <li>
        <strong>Coconut Water Mojito</strong>
        <p>A refreshing twist on a mojito with rum, fresh mint, lime, and coconut water, served over ice.</p>
        </li>
    <li>
        <strong>Passion Fruit Caipirinha</strong>
        <p>Brazil's national cocktail made with cachaça, sugar, lime, and passion fruit pulp.</p>
    </li>
    <li>
        <strong>Ginger Peach Bellini</strong>
        <p>Pureed peaches blended with Prosecco and a hint of ginger for a sparkling, slightly spicy drink.</p>
    </li>
    <li>
        <strong>Frozen Margarita</strong>
        <p>A frozen blend of tequila, juice (pineapple, strawberry, mango, passion fruit, orange), lime juice, and triple sec, served in a glass with a chili-salt or suagr rim.</p>
    </li>
    <li>
        <strong>Hibiscus Tea Sangria</strong>
        <p>A non-alcoholic option with hibiscus tea, sparkling water, and a medley of citrus and berries, served chilled.</p>
    </li>
</ul>
<h3>Local Juices</h3>
<ul>
  <li>
    <strong>Mango Juice:</strong> 
    <p>Enjoy the sweet, lush flavors of freshly squeezed mango juice. Each sip is like biting into the ripest, juiciest mango.</p>
</li>
  <li>
    <strong>Lime Juice:</strong> 
    <p>Crisp and tangy, our lime juice is a refreshing wake-up call for your taste buds, perfect for a hot day.</p>
</li>
  <li>
    <strong>Sour Orange Juice:</strong> 
    <p>Experience the unique blend of tangy and tart with our sour orange juice, offering a zesty twist on traditional citrus flavors.</p>
</li>
  <li>
    <strong>Sour Sop Juice:</strong> 
    <p>Creamy and exotic, sour sop juice is a delightful adventure with a flavor that's both tangy and sweet, plus a hint of tropical paradise.</p>
</li>
  <li>
    <strong>Fruit Punch:</strong> 
    <p>A vibrant mix of local fruits, our fruit punch is sweet, refreshing, and bursting with tropical flavors. It's a party in a glass!</p>
</li>
  <li>
    <strong>Apple Juice:</strong> 
    <p>Classic and comforting, our apple juice is made from the freshest apples, providing a crisp and wholesome start to your day.</p>
</li>
</ul>

<%- include('../partials/footer') %>