<%- include('../partials/header') %>

<main>
    <section class="about-section">
        <h1>About Us</h1>
        <p>Welcome to Bites & Bubbly, the ultimate brunch destination where every dish and every cocktail takes you on an adventure. Here, we offer the best blends of all worlds, serving up mouth-watering dishes and the finest cocktails inspired by the vibrant flavors of the tropics and other cultures. At Bites & Bubbly, outstanding customer service isn’t just a promise—it’s our guarantee. Our friendly, well-trained staff are always on hand, eager to make your experience memorable. Come for the food and drinks, stay for the warm vibes and leave satisfied, knowing you’ve just enjoyed brunch at its best. We can't wait to welcome you!</p>
    </section>
</main>

<%- include('../partials/footer') %>
